<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main_div">
    <div id="setting">info</div>
    <div id="holder">
            <img id="project" onclick="call(1)" src="assets/images/artistic-brush.png">
            <img id="aboutMe" onclick="call(2)" src="assets/images/user-icon.png">
            <img id="contacts" onclick="call(3)" src="assets/images/sms-speech-bubble.png">
            <img id="userInfo" onclick="call(4)" src="assets/images/computer-screen.png">
    </div>
</div>
<script src="script.js"></script>
</body>
</html>